transformers>=4.39.0
torch
soundfile
jiwer
sentence-transformers
torchaudio
requests
vosk
datasets<3
evaluate<0.5
accelerate
lightning
nemo_toolkit
lhotse
bert-score
matplotlib
# GigaAM requires extra installation
# pip install git+https://github.com/salute-developers/GigaAM
# Optional for advanced evaluation
# natasha
